<header>Login Page</header>
   <h1 class="welcome-title">Welcome, [Name]</h1>
 
    <form class="login">
        <input type="text" placeholder="username">
        <br>
        <input type="text" placeholder="password">
        <input type="submit" value="Login">
    </form>
<img src="https://i2.wp.com/homeprintables.com/wp-content/uploads/2017/01/August-calendar-2017-printable.png" alt="Calendar" height="200">

<form action="show.html">
    <input type="submit" value="Other Options" />
</form>

    <table class="tableE">
        <tr>
            <td class="tdE">Class</td>
            <td class="tdE">Assignment</td>
            <td class="tdE">Due Date</td>
        </tr>
        <tr>
            <td  class="tdE">
                <input name="first_name" id="first_name1" type="checkbox">
                <input name="last_name" id="last_name1" type="text" placeholder="box" size='15'>
            </td>
            <td class="tdE">
                <input name="first_name" id="first_name2" type="checkbox">
                <input name="last_name" id="last_name2" type="text" placeholder="box" size=15 class="textboxEnrix">
            </td>
            <td class="tdE">
                <input name="first_name" id="first_name3" type="checkbox">
                <input name="last_name" id="last_name3" type="text" placeholder="box" size=15>
            </td>
        </tr>
          </td>
            <td class="tdE">
                <input name="first_name" id="first_name4" type="checkbox">
                <input name="last_name" id="last_name5" type="text" placeholder="box" size=15 class="textboxEnrix">
            </td>
            <td class="tdE">
                <input name="first_name" id="first_name6" type="checkbox">
                <input name="last_name" id="last_name7" type="text" placeholder="box" size=15>
            </td>
            <td class="tdE">
                <input name="first_name" id="first_name4" type="checkbox">
                <input name="last_name" id="last_name5" type="text" placeholder="box" size=15 class="textboxEnrix">
            </td>
    </table>

    <br>
    <a href="congratulations.html">Finished?</a>

