  <header><a href="index.html">To-Do List</a></header>
   

<h1 class="welcome-title">Welcome, [Name]</h1>

    <ul>WELCOME Page that leads to home page</ul>
 
    <form class="login">
        <input type="text" placeholder="username">
        <br>
        <input type="text" placeholder="password">
        <input type="submit" value="Login">
    </form>

    
    <table class="tableE">
        <tr>
            <td class="tdEnrix">Class</td>
            <td class="tdEnrix">Assignment</td>
            <td class="tdEnrix">Due Date</td>
        </tr>
        <tr>
            <td  class="tdEnrix">
                <input name="first_name" id="first_name1" type="checkbox">
                <input name="last_name" id="last_name1" type="text" placeholder="box" size='15'>
            </td>
            <td class="tdEnrix">
                <input name="first_name" id="first_name2" type="checkbox">
                <input name="last_name" id="last_name2" type="text" placeholder="box" size=15 class="textboxEnrix">
            </td>
            <td class="tdEnrix">
                <input name="first_name" id="first_name3" type="checkbox">
                <input name="last_name" id="last_name3" type="text" placeholder="box" size=15>
            </td>
        </tr>
    </table>


<br>
<img class="img" src="https://cdn.vox-cdn.com/uploads/chorus_asset/file/655222/tumblr_lmpg9jl57d1qfeod9.0.gif" alt="pikachu" height="150">

<h3>Congratulations! Good job :)</h3>