<h2>Add a new todo!</h2>

<form action="/todo/create">
  <input class="text-input" id="new-subject" name="subject" placeholder="Subject">
  <input class="text-input" id="new-todo-description" name="description" type="text" placeholder="Notes">
  <br><br>
  <input class="text-input" id="new-pomodoro-estimate" name="time_estimate_min" type="text" placeholder="Duration">
  <input class="text-input" id="new-due-date" name="due_date" placeholder="Due Date">
  <br><br>
  <input class="button" id="add-new-todo-button" type="submit" value="Add todo">
</form>

 
